<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>NAVER CLOVA OCR</h2>

    <form action="">
        <select name="type" id="">
            <option value="general">일반</option>
            <option value="template">템플릿
            </option>
        </select>
        <input type="file" name="file" accept="image/*" required>
        <input type="button" value="판독요청">
    </form>

    <h3>OCR 결과</h3>
    <div id="result">판독 전 입니다.</div>


</body>
</html>